.book-review-3-wrapper {
  background-color: var(--faded-warning-color);
  padding: var(--default-padding);
  border-radius: var(--default-border-radius);
  border: var(--faded-reverse-border);
  margin: var(--default-margin);
}

